.hover-effect:hover {
  background-color: rgb(
    4,
    7,
    42
  ); /* Ändern Sie die Hintergrundfarbe beim Überfahren mit der Maus */
  color: rgb(
    15,
    238,
    93
  ); /* Ändern Sie die Textfarbe beim Überfahren mit der Maus */
}
.hover-effect:hover {
  border: 1px solid black;
}
