.hover-effect:hover {
  background-color: rgb(
    6,
    13,
    96
  ); /* Ändern Sie die Hintergrundfarbe beim Überfahren mit der Maus */
  color: rgb(
    255,
    255,
    255
  ); /* Ändern Sie die Textfarbe beim Überfahren mit der Maus */
}
.hover-effect:hover {
  border: 1px solid black;
}

.line-spacing {
  line-height: 1.5;
}
